// Import Bourbon mixin lib
@import '../assets/bourbon/dist/bourbon';

// Import our variables, mixins & helpers
@import 'variables', 'mixins';

// Neat should be imported after variable, reset and mixin declaration.
@import '../assets/neat/app/assets/stylesheets/neat';

// Import neat helpers - this gives us visual grid which can be useful, also
// gives us media mixin which is useful when making responsive layouts.
@import '../assets/neat/app/assets/stylesheets/neat-helpers';

// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Set HTML to 62.5% to make it easier setting REM/EM values
// Now it calculates from 10 instead of regular 16.
// Example 1rem = 10px
html {
  font-size: 62.5%;
  min-height: 100%;
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Remove standard border on button & input on smart devices
button,
[type=submit] {
  border: 0;
}

// Import modules
@import 'modules/interface-ctrl';

// Import elements
@import 'elements/forms';
